/*DESKTOP VERSION*/

/*Header*/
* {
  margin: 0;
  padding:0;
}

.disable-scroll {
overflow:hidden;
}

.header{
  min-height:100vh;
  width:100%;
  background: linear-gradient(rgba(87,87,139,1), rgba(63,62,66,1));
  background-position: center;
  background-size: cover;
  position:relative;
 
}

header {
position:fixed;
top:0;
left:0;
right:0;
color:white;
z-index:999;
transition: background-color 10s;
}

nav {
display: flex;
padding: 2% 6%;
justify-content: space-between;
align-items:center;
}

nav img{
width:350px;
}

.nav-links {
flex: 1;
text-align:right;
}

.nav-links ul li{
list-style: none;
display:inline-block;
padding: 8px 12px;
position: relative;
}

.nav-links ul li a {
  font-family:'Poppins', sans-serif;
color: #fff;
text-decoration: none;
font-size: 16px;
}

.menu-btn {
display:none;
}


input[type="checkbox"] {
display:none;
}

.text-box {
display:flex;
align-items:center;
width:40%;
color: #fff;
position: absolute;
top:50%;
left:50%;
transform: translate(-80%, -50%);
}

.slogan {
width:130%;
color: #fff;
position: absolute;
top:50%;
left:50%;
transform: translate(-60%, -45%);

}

.slogan h1 {
font-family: 'Libre Baskerville', sans-serif;
font-weight: 700px;
font-size: 45px;
text-align:Center;
margin-bottom:10px;
margin-top:-40px;
}

.slogan p {
font-family: 'Libre Baskerville', sans-serif;
font-weight:400;
text-align:center;
font-size:28px;
color:white;
}

.text-box-image {
width:75%;
color: #fff;
position: absolute;
top:50%;
left:50%;
transform: translate(35%, -48%);
margin:auto 40%;

}

.text-box-image img {
height:350px;
width:400px;
margin:auto 0;
border-radius:10%;
margin-top:40px;
}

.aip-logo {
position: absolute;
bottom:15px;
left:6%;
height:150px;
width:180px;
background-color:white;
border-radius: 50%;
}

.aip-logo img {
height: 150px;
width:180px;
margin: 0 auto;
}

.header #scroll-icon {
color:#fff;
position: absolute;
 bottom:30px;
left: 50%;
transform: translateX(-50%);
font-size: 70px;
transition:0.5s;
animation: bounce 2.2s linear infinite;
cursor:pointer;
margin-bottom:20px;
}


.header .fa:hover {
transform: translateX(-50%) scale(1.6);
}

@keyframes bounce {
0% {
  transform: translateX(-45%) translateY(30px); 
}
10% {
  transform: translateX(-45%) translateY(20px);
}
20% {
  transform: translateX(-45%) translateY(30px); 
}
25%, 100% {
  transform: translateX(-45%) translateY(30px);
}
}

.footer-hidden {
display:none;
}

/*  Home Introduction Section - Desktop Version  */

.header-black {
background: linear-gradient(rgba(87,87,139,1), rgba(63,62,66,1));
  background-position: center;
  background-size: cover;
height:100px;
transition: transform 10s;
}

.header-black img {
height:90px;
width:180px;
margin-top:-30px;
}

.header-black ul {
padding-top:0px;
margin-top:-30px;
}

.header-black ul li a {
color:white;
padding-top:0px;
}


.home-introduction {
min-height:100vh;
width:100%;
background-position: center;
background-size: cover;
position:relative;
margin-top:0px;
}


.example {
display:flex;
align-items: center;
margin-top: 50px;
}

.text {
flex: 1;
text-align:center;
margin-left: 39%;
font-size:24px;
}

.text h1 {
font-family: 'Libre Baskerville', serif;
font-size:30px;
margin-top:-20px;
}

.image {
margin-right: 33%;
height:100px;
width:100px;
margin-top:10px;
margin-bottom:35px;
border-radius:50%;
}

.first-part,
.second-part {
font-family:'poppins', sans-serif;  
width:80%;
margin: 0 auto;
}


.first-part p {
text-align:Center;
margin: -25px 10px 30px 10px;
font-size:20px;
}


.second-part p {
text-align: center;
margin:20px 10px 0 10px;
font-size:20px;
}


.video-container {
display: flex;
justify-content: center;
align-items: center;
}

.home-videos {
margin:50px 50px 60px 50px;
}

.first-home-video,
.second-home-video{
max-width: 100%;
max-height: 100%;
height:350px;
width:350px;
border-radius:10px;
}

.free-videos-link {
font-family:'poppins', sans-serif;
font-weight:400;
font-size:24px;
margin-left:38%;
color:black;
}

/*About Me Section - Desktop Version*/

.about-me-body {
background: linear-gradient(rgba(87,87,139,1), rgba(63,62,66,1));
background-position: center;
background-size: cover;
position:relative;
min-height:650px;
}

.about-me {
margin:0 auto;
margin-top:250px;
width:80%;
}

.about-me-heading {
font-family: 'poppins', sans-serif;
font-weight:700;
font-size:50px;
color:white;
margin-bottom:10px;
text-align:center;
}

.about-me-text {
font-family: 'poppins', sans-serif;
font-weight:400;
font-size:24px;
margin-top:20px;
color:white;
text-align:center;
}

#first-about-paragraph {
  margin-top:0;
}

#last-about-paragraph {
margin-bottom:40px;
}


/*Course Section - Desktop Version*/

.course-body {
background: linear-gradient(rgba(87,87,139,1), rgba(63,62,66,1));
background-position: center;
background-size: cover;
position:relative;
}

.courses {
width:100%;
  margin-top:250px;
}

.flex-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-height: 100vh;
margin: 0 auto;
margin-top:-1%;
margin-bottom:150px;
}

.top-row,
.middle-row,
.bottom-row {
display: flex;
justify-content: space-between;
}

.top-row {
width:60%;
margin-bottom:5px;
height:330px;
}

.middle-row {
margin-bottom:0.5%;
height:390px;
}

.bottom-row {
height:700px;

}

.middle-row,
.bottom-row {
width: 80%;
}

.top-row .item,
.middle-row .item,
.bottom-row .item {
flex: 1;
background-color: #fff;
text-align: center;
box-sizing: border-box;
margin: 5px;
display: flex; /* Add display: flex; to the item */
flex-direction: column; /* Set flex-direction to column */
justify-content: space-between; /* Add space between items */
border-radius:20px;
}

.training-top-heading {
font-family: 'Poppins', sans-serif;
font-weight:700;
font-size:30px;
color:blue;
}



.training-middle-heading {
font-family: 'Poppins', sans-serif;
font-weight:700;
font-size:30px;
text-align: center;
margin-bottom:-30px;
color:blue;
}

#virtual-training-heading {
margin-top:3px;
margin-bottom:-30px;
}

.training-bottom-heading {
font-family: 'Poppins', sans-serif;
font-size:30px;
text-align: center;
margin-bottom:-5px;
color:blue;
}


.training-top-text {
font-family: 'Poppins', sans-serif;
font-weight:400;
font-size:22px;
margin: 0 auto;
text-align: center;
padding: -20px 20px 0px 20px;
width:80%;
}

#last-para {
margin-bottom:20px;
}

.training-middle-text {
font-family: 'Poppins', sans-serif;
font-weight:400;
font-size:22px;
margin: 0 auto;
text-align: center;
padding: 20px;
width:80%;
margin-bottom:-10px;
}

.training-bottom-text {
font-family: 'Poppins', sans-serif;
font-weight:400;
font-size:22px;
margin: 0 auto;
margin-top:0px;
text-align: center;
padding: 50px 20px 0px 20px;
width:80%;
}

#training-icognito-text1 {
margin-top:-180px;
margin-bottom: -120px;
}

#long-term-program1 {
margin-top:-100px;
}

#long-term-program2 {
margin-bottom:-40px;
margin-top:-80px;
}

.cost {
font-family: 'poppins', sans-serif;
display:block;
margin: 0 0 5px 0px;
text-align:center;
font-size:20px;
}
.cost1 {
font-family:'poppins', sans-serif;
display:block;
margin: 0 0 5px 0px;
text-align:center;
font-size:20px;
}
.cost2 {
  font-family: 'poppins', sans-serif;
  display:block;
  margin: 0 0 5px 0px;
  text-align:center;
  font-size:20px;
  }



  /*Testimonial Section - Desktop Version*/

  .testimonial-body {
    width:100%;
    min-height:75vh;
    background: linear-gradient(rgba(87,87,139,1), rgba(63,62,66,1));
    background-position: center;
    background-size: cover;
    position:relative;

  }

  .testimonials {
    margin-top:220px;
  }

  .testimonials-text-section {
    font-family: 'poppins', sans-serif;
    margin: 0 auto;
    color:white;
    width:40%;
    margin-bottom:20px;
    text-align:center;
  }

  .testimonials-text-section h1 {
    font-size:50px;
    margin-bottom:50px;
  }

  .testimonials-text-section h2 {
    font-size:30px;
  }

  .grid-container {
    width:65%;
    height:400px;
    display:grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    
    padding: 0 10px 0 10px;
    gap: 10px;
    margin: 0 17.5% 0 17.5%;
    justify-content: center;
  }

  .grid-container > div {
text-align: center;
font-size: 30px;
  }

  .testimonial-videos {
    height:300px;
    border-radius:10%;
  }

  .testimonial-videos video {
    cursor: pointer;
    height: 100%;
    width:100%;
  }

  .first-testimonial-video,
  .second-testimonial-video,
  .third-testimonial-video {
    height:300px;
    width:200px;
    border: 2px solid transparent;
    background-clip: content-box;
    border-image: linear-gradient(rgba(87,87,139,1), rgba(63,62,66,1))2;

  }


.play-button-container {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.play-button-container .pause-button {
opacity: 0;
}

.play-button-container.playing:hover .pause-button {
opacity: 1;
}


.video-container2 {
width: 100%;
max-width: 400px;
height: 400px;
position: relative; 
margin: 0 auto;
margin-bottom: 50px;
overflow: hidden; 
background-color:black;
padding:0px;
}

.video-container2 video {
width: 100%; 
height: 400px; 
}

.play-button,
.pause-button {
width: 80px;
height: 80px;
background-color: rgba(0, 0, 0, 0.7);
border-radius: 50%;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
color: #fff;
font-size: 24px;
transition: opacity 0.3s ease;
position: absolute; /* Add this to position the play button within the video container */
top: 50%; /* Center vertically */
left: 50%; /* Center horizontally */
transform: translate(-50%, -50%); /* Center both horizontally and vertically */
}

.play-button.clicked {
opacity: 0; 
}

  .testimonial-text {
    height:400px;
    background-color: #2196F3;
  }

  /*Footer Section - Desktop Version*/

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0 10px 0;
    text-align: center;
  z-index:999;
  background-color: #dadada;
  }
  
  
  .desktop-links {
    display: block;
    width:100%;
    margin:0;
  }
  
  .email-link,
  .phone-link {
    font-family:'poppins', sans-serif;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    color:black;
    font-size:24px;
  }
  
  .email-link i {
    margin-right: 5px;
  }
  
  .mobile-buttons {
    display: none;
  }
  
  .desktop-links {
    font-size:22px;
  }


  /*Contact Section - Desktop version*/

  .contact-body {
    width:100%;
    min-height:89.3vh;
    background: linear-gradient(rgba(87,87,139,1), rgba(63,62,66,1));
    background-position: center;
    background-size: cover;
    position:relative;
  }
  
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin-right:30px;
    margin-top:100px;
    color:white;
  }
  
  .left-side {
    width: 50%;
    height:100%;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items:center;
  margin-top:250px;
  
  }
  
  .right-side {
    transform:translate(0%, 20%);
  }
  
  .icon-and-text-heading{
    font-family:'poppins', sans-serif;
    font-size:50px;
    text-align:Center;
    margin-top:120px;
    position:relative;
  }
  
  .icon-and-text-heading::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -1px;
    width: 80%;
    height: 10px;
    transform: skew(-12deg) translateX(-50%);
    background: rgba(238,111,87,0.5);
    z-index: -1;
  }
  
  .icon-and-text .fa {
  margin:0 auto; /* Adjust the margin to create spacing between icon and text */
    margin-top:50px;
    font-size:30px;
  }
  
  .icon-and-text p {
    margin:0 auto;
    font-size:26px;
    font-family: 'poppins', sans-serif;
    font-weight:400;
  }
  
  .icon-and-text-mail {
    
    text-decoration:underline;
  }
  
  .left-side a {
    font-size:30px;
    margin-left:14%;
    margin-top:-10px;
    text-align:center;
    text-decoration:none;
    color:white;
  }
  
  .right-side {
    width: 50%;
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
    width:70%;
  }
  
  .form-group label {
    font-family:'poppins', sans-serif;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
  }
  
  .submit-button {
  text-align: center;
  margin-right:28%;
  }
  
  .submit-button button {
    font-family:'poppins', sans-serif;
    font-size:15px;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }









/*Large phones, portrait tablets min-width 600px*/



/*Small screens max-width 600px version*/

@media only screen and (max-width: 600px) {

  .home-body{
    min-height:390vh;
  }
  header {
    position: fixed;
    width:100%;
  }

  #phone-header {
    background: linear-gradient(rgba(87,87,139,1), rgba(63,62,66,1));
    transition:0s;
  }

  nav img {
    width: 150px; 
  }

    *{
      box-sizing: border-box;
    }

    .nav-links{
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      max-height:100%;
      width: 100%;
      background:rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(10px);
      clip-path: circle(25px at calc(100% - 45px) 45px);
      transition: all 0.3s ease-in-out;
    }

    #coursesNavLinks {
      clip-path: circle(25px at calc(100% - 45px) 45px);
    }

    #testimonialsNavLinks {
      clip-path: circle(25px at calc(100% - 45px) 45px);
    }


  #active:checked ~ .nav-links{
    clip-path: circle(75%);
  }

  .menu-btn{
    display:block;
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    background:red;
    transition: all 0.3s ease-in-out;
  }

  #courses-menu-btn {
    right:20px;
  }

  #testimonials-menu-btn {
    right:20px;
  }

  
  #active:checked ~ .menu-btn{
    background: #fff;
    color: #4158d0;
    right:20px;
  }

  #active:checked ~ .menu-btn i:before{
    content: "\f00d";
  }

  .nav-links ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }

  .nav-links ul li{
    margin: 0;
    padding:0;
  }

  .nav-links ul li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    transform: translateY(0); 
  }

 
  .nav-links ul li a{
    color: none;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 20px;
    color: #fff;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
  }
 
  .nav-links ul li a:hover{
    color: #4158d0;
  }
  input[type="checkbox"]{
    display: none;
  }


 .aip-logo {
  width:70px;
  height:60px;
  background-color:white;
  bottom:70px;
 }

 .aip-logo img {
  width:70px;
  height:60px;
  margin-bottom:-40px;
 }

#scroll-icon{
  font-size: 60px;
  left: 60%;
  transform: translateX(-50%);
  bottom: 40px;
  text-align: center;
  position: fixed;
  }

  @keyframes bounce {
    0% {
      transform: translateX(-45%) translateY(0px); 
    }
    10% {
      transform: translateX(-45%) translateY(-10px);
    }
    20% {
      transform: translateX(-45%) translateY(0px); 
    }
    25%, 100% {
      transform: translateX(-45%) translateY(0px);
    }
    }
  

.header-black {
  height:80px;
}

  .header-black img {
    height:70px;
    width:160px;
    margin:auto;
  }


  .text-box {
    width: 80%;
    height:400px;
    transform: translate(-50%, -55%);
    padding-top:0px;
  }

  .slogan {
    width: 100%;
    transform: translate(-50%, -210%);
  }

  .slogan h1 {
    font-size: 22px;
  }

  .slogan p {
    font-size: 16px;
    margin-bottom:10px;
  }

  .text-box-image {
    display: block;
    margin-top:10px;
    width:100px;
    transform: translate(-255%, -40%);  
  }

  .text-box-image img {
    width:280px;
    height:230px;
    
  }
  


  .home-introduction {
    margin-top: 20px; 
    min-height:200vh;
  }

  .text {
    margin:0 auto;
  }

  .text h1 {
    font-size:24px;
  }

  .image {
    margin-right: 0;
    height: 80px;
    width: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
  }

  .first-part {
    margin-bottom:30px;
  }

  .first-part,
  .second-part {
    width: 90%;
  }

  .first-part p,
  .second-part p {
    font-size: 18px; /* Reduce font size */
    margin: 10px 0; /* Adjust margin */
  }

  .example {
    flex-direction: column;
    align-items: center;
  }

  .video-container {
    flex-direction: column; /* Stack videos vertically */
padding-bottom:30px;
margin-bottom:20px;
  }

  .home-videos {
    margin: 20px 0; /* Adjust margin between videos */
  }

  .first-home-video {
    margin-bottom:-20px;
  }

.second-home-video{
  margin-bottom:-50px;
}
  .first-home-video,
  .second-home-video {
    width: 100%; /* Make videos full-width */
    height: auto; /* Maintain aspect ratio */
    max-height: 100%; /* Prevent videos from overflowing */
  }

  .free-videos-link{
    font-size:22px;
    width:100%;
    text-align:center;
    margin-bottom:10px;
    margin-top:-10px;
    margin-left:8px;
  }
}



@media only screen and (max-width: 600px) {
.about-me-body {
  margin-top:-155px;
  height:100%;
  padding-top:15px;
}

.about-me-heading {
  font-size:26px;
}

.about-me-text {
font-size:20px;
}

#last-about-paragraph {
  padding-bottom:80px;
}
}



    @media only screen and (max-width: 600px) {

      .courses {
        margin-top: 115px;
        width: 100%;
        min-height: 470vh;
      }
    
      .flex-container {
        width: 112%;
        align-items: center;
        margin-left:-45px;
        margin-bottom:-5px;
      }
    
      .top-row,
      .middle-row,
      .bottom-row {
        flex-direction: column; /* Stack items vertically */
        margin-bottom:50px;
      }

    .top-row {
      margin-bottom:250px;
      width:80%;
    }

    .top-row item,
    .middle-row item,
    bottom-row item {
      border-radius:-200px;
    }

    .top-row h1,
    #second-row-item h1,
    #third-row-item h1,
    #fourth-row-item h1,
    #fifth-row-item h1
    {
      font-size:24px;
      color: black;
    }

    .top-row p,
    #second-row-item p,
    #third-row-item p,
    #fourth-row-item p,
    #fifth-row-item p {
      font-size:18px;
    }

   .top-row p{
      width:90%;
    }


    #second-row-item p {
      margin-top:5px;
      width:95%;
    }

    #third-row-item {
      margin-top:5px;
    }

    #third-row-item p {
      width:95%;
      margin-top:5px;
    }
    
   #fourth-row-item {
    margin-top:213%;
  }

#fourth-row-item h1 {
  margin-bottom:20px;

}
    #fourth-row-item p {
      width:90%;    
      margin-top:0px;
    }

  
#training-icognito-text1 {
  margin-bottom:-40px;
  padding:0;
}

    #fifth-row-item {
      margin-top:13px;
      height:1100px;
    }

  #fifth-row-item p {
    margin-top:-50px;
    width:95%;
    margin-bottom:5px;
  }

  .cost,
  .cost1,
  .cost2 {
    font-size:18px;
  }

  .cost2 {
    padding-bottom:25px;
  }
  

    .item {
      width: 111.5%; /* Make items take up the full width of the page */

    }
  }

   

    
    @media only screen and (max-width: 600px) {

.testimonial-body {
  min-height:80vh;
}

.testimonials {
  margin-top:115px;
}

.testimonials-text-section {
  font-family: 'poppins', sans-serif;
  margin: 0 auto;
  color:white;
  width:100%;
  margin-bottom:-50px;
  text-align:center;
}

.testimonials-text-section h1 {
  font-size:26px;
  margin-bottom:20px;

}

.testimonials-text-section h2 {
  font-size:22px;
}

.grid-container {
  width:90%;
  margin: 0 auto;
  height:200px;
  transform:translate(-0%, 50%);
}

.testimonial-videos {
  height: 100%;
  border-radius:10px;
}


.testimonial-videos video {
  height:100%;
  width:100%:
}
    }

   



@media only screen and (max-width: 600px) {
  .desktop-links,
  .phone-link,
  .email-link
   {
    display: none;
  }

  .footer {
    margin-top:20px;
    background-color:pink;
   height:50px;
   width:360px;
padding-left:10px;
  }

  .footer-content {
    margin-top:-9px;
    padding:0px;
    height:50px;
    background-color:red;
 margin-left:-10px;
 padding:0px;
  }
  
  .mobile-buttons {
    display: flex;
    margin:0px;
    padding:0px;
    width:360px;
  }

  .phone-button,
  .email-button {
    text-decoration: none;
    color: #fff;

    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
  }

  #home-mobile-buttons{
 position:fixed;
 bottom:-2px;
  }

  .phone-button {
    background-color: #a3e0a3;
    width:180px;
    float:left;
    border:none;
    height:50px;
    margin:0px;
  }

  .email-button {
    background-color: #e57373;
    margin:0px;
    width:180px;
    border:none;
    height: 50px;
  }

  .phone-button i,
  .email-button i {
    margin-right: 5px;
  }

  .phone-button .fa-phone,
    .email-button .fa-envelope-o {
      font-size:30px;
      color:white;
    }

    .phone-button button {
      border:none;
      background-color:#a3e0a3;
      margin-top:5px;
    }
    .email-button button {
      border:none;
      background-color:#e57373;
    }
  
}




@media only screen and (max-width: 600px) {

  .contact-body {
    min-height:95vh;
  }

.container {
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-top:200px;
  padding: 20px;
}

.left-side {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.icon-and-text {
  margin-top:-60px;
  margin-bottom:-40px;
}
/* Update the icon and text styles */
.icon-and-text-heading {
  font-size: 24px;
  margin-top: 20px;
}

.icon-and-text-heading::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0px;
  width: 80%;
  height: 5px;
  transform: skew(-12deg) translateX(-50%);
  background: rgba(238,111,87,0.5);
  z-index: -1;
}

.icon-and-text .fa {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 24px;
}

.icon-and-text p {
  font-size: 20px;
}

/* Update the mail link styles */
.left-side a {
  font-size: 20px;
  margin-left: 0;
  margin-top: 10px;
}

/* Update the right-side styles */
.right-side {
  width: 100%;
}

/* Update the form group styles */
.form-group {
  width: 100%;
  margin-top:-15px;
}

/* Update the submit button styles */
.submit-button {
  margin-right: 0;
}

.submit-button button {
  padding: 10px 15px;
}
}






    







