* {
margin:0;
padding:0;
}



.home-body {
  margin-bottom:100px;
  background-color:#dadada;
}

#size {
  position:fixed;
  top:60%;
  left:50%;
  transform: translateX(-50%);
  font-size:35px;
  color:blue;
  }

  #height {
    position:fixed;
    top:20%;
    left:50%;
    transform: translateX(-50%);
    font-size:35px;
    color:blue;
  }

.disable-scroll {
  overflow:hidden;
  }

.vertical-line {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  background-color: green;
  z-index: 9999;
}



.horizontal-line {
  position: fixed;
  left: 0;
  right: 0;
  top: 50%;
  height: 2px; /* Adjust the height of the line as needed */
  background-color: green; /* Change the color of the line as needed */
  z-index: 9999; /* Ensures the line appears above other elements */
}

.header {
  height:92vh;
  width:100%;
  background: linear-gradient(rgba(87,87,139,1), rgba(63,62,66,1));
  background-position:center;
  background-size: cover;
  position: relative;
}



header {
  position:fixed;
  top:0;
  left:0;
  right:0;
  color:white;
  z-index:999;
  transition: background-color 10s;
  }

  #phone-header {
    background: linear-gradient(rgba(87,87,139,1), rgba(63,62,66,1));
    transition:0s;
    z-index:1000;
    width:100%;
    position:fixed;
    height:112px;
  }

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items:center;
  z-index:998;
  }
  
  nav img{
  width:200px;
  }
  
  .nav-links{
    position: fixed;
    top: 10px;
    left: 0;
    height: 100%;
    max-height:100%;
    width: 100%;
    background:transparent;
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
  }
  
  #active:checked ~ .nav-links{
    clip-path: circle(75%);
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
  }

  .menu-btn{
    display:block;
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 30px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 32px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

  }

 


  #active:checked ~ .menu-btn{
    background: transparent;
    color: #fff;
    right:20px;
  }

  #active:checked ~ .menu-btn i:before{
    content: "\f00d";
  }

  .nav-links ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }

  .nav-links ul li{
    margin: 0;
    padding:0;
  }

 

 
  .nav-links ul li a{
    font-family:'poppins', sans-serif;
    color: none;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 20px;
    color: #fff;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
    text-align:center;
  }
 
  .nav-links ul li a:hover{
    color: #4158d0;
  }
  input[type="checkbox"]{
    display: none;
  }

  .nav-links ul li .active {
    color:orange;
  }
  



.landpage-content-wrapper {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  height:100%;
}

.left-home-column {
  font-family: 'Libre Baskerville', sans-serif;
text-align:center;
width:90%;
color:white;
}

.left-home-column h1 {
font-size:3.2vh;
padding-bottom:15px
}

.left-home-column h2 {
  font-size:2.5vh;
}



.right-home-column img {
  height:200px;
width:250px;
border-radius:10%;
}

.aip-logo {
  position:absolute;
  bottom:22px;
  left:30px;
}

.aip-logo img {
  height:60px;
  width:70px;
  border-radius:50%;
}

.header #scroll-icon {
  color:#fff;
  position: absolute;
   bottom:30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 70px;
  transition:0.5s;
  animation: bounce 2.2s linear infinite;
  cursor:pointer;
  margin-bottom:20px;
  }

  .header .fa:hover {
    transform: translateX(-50%) scale(1.6);
    }
    
    @keyframes bounce {
    0% {
      transform: translateX(-45%) translateY(30px); 
    }
    10% {
      transform: translateX(-45%) translateY(20px);
    }
    20% {
      transform: translateX(-45%) translateY(30px); 
    }
    25%, 100% {
      transform: translateX(-45%) translateY(30px);
    }
    }

    .footer-hidden {
      display: none;
    }

    /*Main Content*/

    .header-black {
      display:flex;
      background: linear-gradient(rgba(87,87,139,1), rgba(63,62,66,1));
        background-position: center;
        background-size: cover;
      height:112px;
      transition: transform 10s;
      z-index:999;
      align-items: center;
      }
      
      .header-black img {
      height:90px;
      width:180px;
      }
      
      .header-black ul {
      padding-top:0px;
      margin-top:-10px;
      }
      
      .header-black ul li a {
      color:white;
      padding-top:0px;
      }

      .home-introduction {
        min-height:100vh;
width:100%;
position:relative;
margin-top:0px;
background-color: #dadada;;
      }

    .person-details {
      font-family:'poppins', sans-serif; 
      display:flex;
      flex-direction: column;
      margin-top:20px;
      text-align:Center;
      font-size:2.1vh;
    }

    .person-image {
      height:80px;
      width:80px;
      border-radius: 50%;
      margin:15px auto;
    }

    .home-content-wrapper {
      text-align: center;
      font-family:'poppins', sans-serif; 
      margin: 0 auto;
      width:95%;
      font-size:2.5vh;
    }

    .home-content-wrapper p:first-child {
      margin-bottom:15px;
    }

   
    .home-video-container {
height:100%;
display: flex;
justify-content: center;
position: relative;
    }

    .play-button-home-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      background-color: white;
      border-radius: 50%;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 0.3s ease;
      z-index: 1;
    }

    .home-video-wrapper video {
      max-width: 100%;
      max-height: 100%;
      height: 300px;
      width: 300px;
      border-radius: 10px;
      margin: 0 auto;
    }

    .home-video-wrapper video:first-child {
      margin:20px auto;
    }

    .home-video-wrapper video:last-child {
      margin-bottom:30px;
    }

    .more-videos-link {
      width:100%;
      margin:0 auto;
      text-align: center;
      padding-bottom:20px;
    }

    .more-videos-link a {
      font-family:'poppins', sans-serif; 
      color:black;
      text-decoration: underline;
      font-size:3vh;
      
    }

/*About Me section 320px*/

    .about-me-body {
      background: linear-gradient(rgba(87,87,139,1), rgba(63,62,66,1));
      background-position: center;
      background-size: cover;
      position:relative;
      height:100%;
      padding-bottom:110px;
    }

      .about-content-wrapper {
        font-family: 'poppins', sans-serif;
        display: flex;
        flex-direction: column;
        text-align:center;
        margin:120px auto -20px auto;
        row-gap: 30px;
        width:95%;
    }

    .about-content-wrapper h1 {
      font-size:3.5vh;
      color:white;
    }

    .about-content-wrapper p {
      font-size:2.5vh;
      color:white;
      text-align:center;
    }

    /*courses section 320px*/
    .courses-body {
      background: linear-gradient(rgba(87,87,139,1), rgba(63,62,66,1));
      background-position: center;
      background-size: cover;
      position:relative;
      height:100%;
      padding-bottom: 80px;
    }

    .courses-container {
      display:flex;
      flex-direction:column;
      margin-top:120px;
    }


    .courses-box {
      border: 1px solid black;
  margin: 5px;
  text-align: center;
  background-color: #dadada;
    }

    .courses-box:last-child {
      margin-bottom:-35px;
      padding-bottom:30px;
    }

    .courses-box h1,
    .courses-box h2 {
      font-family: 'poppins', sans-serif;
      font-size:2.5vh;
    }

    

    .courses-box p {
      font-family: 'poppins', sans-serif;
      font-size:2vh;
      padding-bottom:10px;
    }

    

    .courses-cost {
      font-family: 'poppins', sans-serif;
      font-size:1.8vh;
      font-style:italic;
    }

    /*Testimonial section 320px*/
    .testimonials-body {
      background: linear-gradient(rgba(87,87,139,1), rgba(63,62,66,1));
      background-position: center;
      background-size: cover;
      position:relative;
    height:100%;
    }

    .testimonials-container {
      display:flex;
      flex-direction:column;
      margin-top:120px;
      text-align:center;
    }

    .testimonials-container h1 {
      font-family: 'poppins', sans-serif;
      font-size:3.5vh;
      color:white;
      margin-bottom:15px;
    }

    .testimonials-container p {
      font-family: 'poppins', sans-serif;
      font-size:2.5vh;
      color:white;
      margin-bottom:20px;
    }

   
  
    .testimonials-video-wrapper {
      position:relative;
      width: 80%; /* Set the width of the container */
      height: 350px; /* Set the height of the container */
      margin:0 auto 20px auto;
      object-fit: cover;
    }

    .testimonials-video-wrapper:last-child {
      margin-bottom:90px;
    }

  

    .testimonials-video-wrapper video {
      width: 100%; /* Make the video fill the width of the container */
      height: 350px; /* Make the video fill the height of the container */
      object-fit: cover;
      border-radius:10%;
    }

 

    .play-button-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      padding: 20px;
      display: flex;
      justify-content: center;
      background:#fff;
      border-radius:50%;
      align-items: center;
      transition: background-color 0.3s ease;
      z-index: 1;
    }


    
    .play-button i {
      font-size: 30px;
    }






/*Footer section 320px*/
    .desktop-links,
  .phone-link,
  .email-link
   {
    display: none;
  }

  .footer {
    position: fixed;
    bottom: 0px;
    left: 0;
    height:50px;
    width: 100%;
    padding: 10px 0 10px 0;
    text-align: center;
  z-index:999;
  background-color: #dadada;
  transition: bottom 0.3s ease;
  }



  .footer-content {
    margin-top:-9px;
    padding:0px;
    height:50px;
    background-color:red;
 margin-left:-10px;
 padding:0px;
  }
  
  .mobile-buttons {
    display: flex;
    bottom:0;
    margin:0px;
    padding:0px;
    width:100%;
  }

  .phone-button,
  .email-button {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
  }

  #home-mobile-buttons{
 position:fixed;
 bottom:-2px;
  }

  .phone-button {
    background-color: #a3e0a3;
    width:50%;
    float:left;
    border:none;
    height:50px;
    margin:0px;
  }

  .email-button {
    background-color: #e57373;
    margin:0px;
    width:50%;
    border:none;
    height: 50px;
  }

  .phone-button i,
  .email-button i {
    margin-right: 5px;
  }

  .phone-button .fa-phone,
    .email-button .fa-envelope-o {
      font-size:30px;
      color:white;
    }

    .phone-button button {
      border:none;
      background-color:#a3e0a3;
      margin-top:5px;
    }
    .email-button button {
      border:none;
      background-color:#e57373;
    }

    /*contact page 320px*/
.contact-body {
    background: linear-gradient(rgba(87,87,139,1), rgba(63,62,66,1));
      background-position: center;
      background-size: cover;
      position:relative;
    height:100%;
    margin-bottom: 40px;
}
    .contact-container {
      display:flex;
      flex-direction:column;
      margin-top:120px;
      text-align:center;
      font-family:'poppins', sans-serif;
    }

    .contact-header {
     
      font-size:3.2vh;
      text-align:Center;
      position:relative;
      color:white;
      margin-bottom:10px;
    }

    .contact-header::before {
      content: "";
      position: absolute;
      left: 10%;
      bottom: 1px;
      width: 80%;
      height: 5px;
      background: rgba(238,111,87,0.5);
      z-index: -1;
    }

    .contact-container .fa-envelope {
      color:White;
      font-size:32px;
      margin-bottom:10px;
    }

    .contact-container a{
      font-size:3vh;
      color:white;
      text-decoration: none;
    }

    .contact-email-link {
      text-decoration: underline;
    }

    #contact-form {
      display:flex;
      flex-direction: column;
      margin-top:50px;
      backdrop-filter: blur(10px);
      width:100%;
      align-items: center;
    }

    #contact-form label {
      margin-bottom: 10px;
      font-size: 3vh; /* Adjust the font size as needed */
      color: white; /* Set the label text color */
  }
  
  #contact-form input[type="text"],
  #contact-form input[type="email"],
  #contact-form textarea {
      padding: 10px;
      margin-bottom: 20px;
      font-size:2.8vh; /* Adjust the font size as needed */
      border: 1px solid #ccc; /* Set the border color */
      border-radius: 5px;
      height:30px;
      width:80%;
      border-radius:10px;
  }

  #contact-form textarea {
    height:100px;
  }
  #contact-form input[type="text"]:focus,
  #contact-form input[type="email"]:focus,
  #contact-form textarea:focus {
    outline:none;
  }

  #contact-form input[type="text"]::placeholder,
#contact-form input[type="email"]::placeholder,
#contact-form textarea::placeholder{
font-family:'poppins', sans-serif; 
text-align: center;
font-size:2vh;
}

  
  #contact-form button {
    padding: 12px 24px;
    font-size: 1.2rem;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contact-form button:hover {
  border-color: #f44336;
  background-color: #f44336;
}

/*Media Query for 375px screens*/
@media (min-width:375px)  {
  .right-home-column img {
    height:250px;
    width:300px
  }
}

@media (min-width:500px) {
  .header {
    height:100vh;
  }
}

@media (min-width:768px) {
.home-body {
  background-color:#dadada;
}

.header {
  display: flex;
  min-height: 112vh; /* Set your desired height for the header */
  background: linear-gradient(rgba(87, 87, 139, 1), rgba(63, 62, 66, 1));
  justify-content: space-between;
  align-items: center;
}



nav {
  margin-top:15px;
  padding:10px 20px;
}

nav img {
  width:180px
}


.menu-btn {
  display: none;
}


.nav-links {
position:relative;
display: flex;
justify-content: flex-end;
height: 100px;
  clip-path:none;
  margin-top:-30px;
}

nav .nav-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width:100%;
}


nav .nav-links ul li {
  margin: 0;
  padding: 0;
  margin-right: 0px;
  
}

nav .nav-links ul li:last-child {
  margin-right: 0px;
}

nav .nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5vh;
  font-weight: 500;
  transition: all 0.3s ease;
  padding:0 10px;
}


  .left-home-column h1{
    font-size:3.8vh;
  }

  .left-home-column h2 {
    font-size:3vh;
  }

  .right-home-column img {
    height:350px;
    width:400px;
  }


  .aip-logo img {
    width:100px;
    height:90px;
  }



.person-details {
  font-size:2.2vh;
}

  .person-image{
    height:120px;
    width:120px;
  }

  .home-content-wrapper {
    width:85%;
    font-size:2.2vh;
    margin-bottom:40px;
  }

  .home-video-wrapper {
    flex-direction:row;
    margin:20px 0;
  }

  .home-video-wrapper video:last-child {
    margin:0px;
  }

  .home-video-wrapper video:first-child{
    margin:0px 30px 0px 0px;
  }

 

  .more-videos-link a {
    font-size:2.5vh;
  }

  #phone-header img {
    margin-top:-10px;
    margin-left:-10px;
  }



  #phone-header .nav-links ul li {
    margin: 0;
    padding: 0;
    margin-right: 0px;
    
  }


  .about-content-wrapper {
    width:85%;
  }



  .about-content-wrapper h1 {
    font-size:3.3vh
  }

  .about-content-wrapper p {
    font-size:2.2vh;
  }
  
.courses-body {
  height:100%;
}
  .courses-box {
    width:90%;
    margin:0 auto;
  }

  .courses-box h1,
  .courses-box h2 {
    font-size:3vh;
  }

  .courses-box p,
  .courses-cost {
    font-size:2.5vh;
    padding:5px 5%;
  }

.testimonials-body {
  display: flex;
    flex-direction: column;
    height: 100vh; /* Set body to full height of the viewport */
    align-items: center;
    justify-content: center;
}

.testimonials-container {
  margin-top: 0; /* Remove the top margin for testimonials container */
}

.testimonials-container h1 {
  font-size:3vh;
}

.testimonials-container p {
  font-size:2.5vh;
}

  .testimonials-video-container {
    display: flex;
    flex-direction: row; /* Set the direction to row */
    justify-content: space-between;

    padding:20px 2.5% 0px 2.5%;
  }

  .testimonials-video-wrapper {
    width: calc(33.33% - 10px); /* Set the width of each video container */
    height: 350px; /* Set the height of the container */
    margin: 0;
  }

  .testimonials-video-wrapper video {
    width: 100%; /* Make the video fill the width of the container */
    height: 100%; /* Make the video fill the height of the container */
    object-fit: cover;
    border-radius: 10%;
  }

  .mobile-buttons {
    display:none;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto; /* Center the content */
    background-color: red; /* Change the background color as needed */
    padding: 10px 20px; /* Adjust padding as needed */
  }

  .desktop-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
  }

  .phone-link,
  .email-link {
    display: inline-block;
    margin:10px;
    font-family:'poppins', sans-serif;
    text-decoration: none;
    padding: 10px;
    color:black;
    font-size:24px;
  }


  .footer-content {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #dadada; /* Set your desired background color */
  }

  .contact-body {
    height:100vh;
  }

  .contact-header {
font-size:3vh;
}

.left-contact-container p {
  font-size:3vh;
}

#contact-form input[type="text"]::placeholder,
#contact-form input[type="email"]::placeholder,
#contact-form textarea::placeholder{
font-size:2.5vh;
}


}
@media (min-width:1024px) {
  
  .header {
    display: flex;
    min-height: 112vh; /* Set your desired height for the header */
    background: linear-gradient(rgba(87, 87, 139, 1), rgba(63, 62, 66, 1));
    justify-content: space-between;
    align-items: center;
  }



  nav {
    margin-top:15px;
    padding:10px 20px;
  }

  nav img {
    margin-left:40px;
    width:260px
  }


  .menu-btn {
    display: none;
  }


.nav-links {
  position:relative;
  display: flex;
  justify-content: flex-end;
  height: 100px;
    clip-path:none;
    margin-top:-30px;
  }

  nav .nav-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width:100%;
  }


  nav .nav-links ul li {
    margin: 0;
    padding: 0;
    margin-right: 0px;
    
  }

  nav .nav-links ul li:last-child {
    margin-right: 10px;
  }

  nav .nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 2vh;
    font-weight: 500;
    transition: all 0.3s ease;
  }

  .landpage-content-wrapper {
    flex-direction: row;
    column-gap: 20px;
    margin-top:-100px;
    justify-content:center ;
  }

  .left-home-column {
    padding-left:20px;
    }

  .left-home-column h1 {
    font-size:3.4vh;
  }

  .left-home-column h2 {
    font-size:2.8vh;
  }

  .right-home-column {
padding-right:30px;
  }

  .right-home-column img {
    width:350px;
    height:300px;
  }
  .icons-container {
    position: absolute;
  bottom:100px; /* Adjust the distance from the bottom as needed */
  display: flex;
  height:100px;
  width:100%;
  }
  
  .aip-logo {
    position: absolute;
    left: 50px;
  }

  .aip-logo img {
    height:110px;
    width:120px;
  }
  
  #scroll-icon {
    position: absolute;
    left: 50%;
  }

  .header #scroll-icon {
    font-size:9vh;
  }


  .header-black .nav-links {
    position: absolute;
    top: 30px;
    height: 100%;
    width: 100%;
    background: transparent;
    clip-path:none;
    display:flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
  }



  .header-black .nav-links ul li:last-child
  {
    margin-right:20px;
  }
.header-black .nav-links ul li a {
  font-size:2vh;
}

.person-details {
  font-size:2vh;
}

.home-content-wrapper p {
  font-size:2.5vh;
}

.home-video-wrapper {
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.more-videos-link a {
  font-size:2.5vh;
}



 #phone-header nav{
display:flex;
justify-content: center;
align-items: center;
margin:10px;
padding:0px;
}

#phone-header img {
  width:200px;
  margin-top:-5px;
}


.about-content-wrapper h1 {
  font-size:3vh;
}

.about-content-wrapper p {
  font-size:2.5vh;
}

.contact-header::before {
width:40%;
left:30%;
}



}
@media (min-width:1440px) {
nav img {
  width:260px;
  height:150px;
}


  .header-black nav img {
    width: 210px;
    height:110px;
    margin-top: -10px;
  }

  
  nav .nav-links ul li a {
    font-size:2vh;
      }

      .header-black  .nav-links ul li a {
        font-size:2vh;
          }

  .landpage-content-wrapper {
    display:flex;
    justify-self: center;
    margin:-100px auto 0 auto;
    column-gap:70px;
  }
  .right-home-column img {
    width:450px;
    height:400px;
  }

  .aip-logo img {
    width:150px;
    height:140px;
  }


  .person-details h2 {
    font-size:3.5vh;
  }
  
  .home-content-wrapper {
    width:80%;
  }

  .home-content-wrapper p,
  .more-videos-link a {
    font-size:2.8vh;
  }

  .home-video-wrapper {
    column-gap:50px;
  }


  #phone-header img {
    height:100px;
    width:200px;
    margin-right:50px;
  }

  #phone-header .nav-links ul li a {
    font-size:2vh;
  }

  .about-content-wrapper h1 {
    font-size:3.5vh;
  }

  .about-content-wrapper p {
    font-size:2.8vh;
  }

  .courses-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .courses-container h1,
  .courses-container h2 {
    font-size:3.5vh;
  }

  .courses-container p {
    font-size:2.8vh;
  }

  .courses-box {
    width: 45%; /* Set the width for two columns */
    margin: 10px 0; /* Adjust margin as needed */
  }

  .courses-cost {
    font-size:2.8vh;
  }

  .courses-box:first-child {
    width: 90%; /* Set the width for the first row's single column */
  }

  .courses-box:last-child {
    margin-bottom:10px;
    padding:0px;
    height:100%;
  }

  #training-incognito-box {
    height:994px;
    position: relative;
  }

  #training-incognito-cost {
    position: absolute;
    bottom: 0;
    width:100%;
    left: 50%;
  transform: translateX(-50%);
  }

  .testimonials-container h1 {
    font-size:3.5vh;
  }

  .testimonials-container p {
    font-size:2.8vh;
  }

.contact-body {
  height:100%;
}

  .contact-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center; /* Center the columns vertically */
    height:83vh;
  }

  .left-contact-container,
  .right-contact-container {
    width: 45%;
    margin-top: 0;
  }

  .left-contact-container h1,
  .left-contact-container p,
  .left-contact-container .fa-envelope {
    font-size: 4vh;
  }



  #contact-form {
    width: 90%;
  }

  #contact-form label {
    font-size: 2vh;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
font-size:2vh;
}


}

@media (min-width:1920px) {


nav img {
  width:350px;
  height:200px;
}

.landpage-content-wrapper {
  column-gap:250px;
}

  .left-home-column h1 {
    font-size:4vh;
  }


  .home-content-wrapper {
    width:75%;
  }

  .home-video-wrapper {
    column-gap: 80px;
  }

 
  #training-incognito-box {
    height:800px;
  }

  .testimonials-video-container {
    column-gap: 50px;
  }


  .contact-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 83vh; /* Set the height of .contact-container to 100% of viewport height */
  }

  .left-contact-container h1,
  .left-contact-container p,
  .left-contact-container .fa-envelope {
    font-size: 5vh;
  }

  #contact-form {
    width: 100%; /* Set a wider width for the form */
    margin: 0 auto; /* Center the form horizontally */
    padding: 20px; /* Add padding for better spacing inside the form */
  }

  #contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
  width:80%;
font-size:2.8vh;
text-align:Center;
font-family:'poppins', sans-serif;
}

#contact-form textarea {
  height: 150px;
}


#contact-form button {
  font-size: 2.2vh;
}


}

 .email-subscription-section {
    background-color: #383938;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px; /* Add padding for spacing */
    height: 300px; /* Adjusted height */
    position: relative; /* Set position to relative */
  }
  
  .form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Adjust padding for spacing */
    border-radius: 20px; /* Add border-radius for rounded corners */
    column-gap: 50px;
    height: 70%; /* Adjusted height */
    width: 60%; /* Adjusted width */
  }
  
  .form-text {
    padding: 20px; /* Add padding for spacing */
    text-align: center; /* Center align the text */
    height:62%
  }
  
  #subscription-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-bottom:40px;
  }
  
  .form-heading {
    font-size:36px;
    color:#fff;
    margin-bottom:5px;
  }
  
  .form-subtext {
    font-size:20px;
    color: #fff;
  }
  
  #email,
  #name {
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 8px;
    width: 300px;
    font-size:16px;
  }
  
  #mc-embedded-subscribe {
    padding: 10px 20px; /* Adjust padding for the button */
    border-radius: 20px; /* Adjust border-radius to create an oval shape */
    border: none;
    font-size: 16px;
  }

